{% extends "base.html" %}
{% block body %}
<div class="container">
    <h1 class="text-center"><strong> Welcome to our app</strong></h1>
    <div> {% include "navBar.html" %}<br><br> </div>
    <form method="POST"> 
    {% if x != 1 %}
    <h3 class="text-center"> Please choose all issues that are of importance to you:</h3>
    <br>
    <select class="selectpicker form-control" title="-- Select all that is important to you --" multiple name="issueChoices">
     
        {% for issue in config['issuesList'] %}
            
            <option value="{{issue['option']}}"
            {% if x %}
                {% if issue['option'] in issuesSTR %}
                      selected
                {% endif %}
            {% endif %}
            >    
                   <strong> {{issue['option']}}: </strong>
                    <sub>{{issue['explanation']}}</sub>
            </option>
        {% endfor %}
    </select>
    <div class="pull-right">
    <br>
    <button type="submit" name="button" value="save" class="btn btn-default"> Save Choices </button>
    </div>
    {% endif %}
    {% if x %}
    <div class="col-lg-12">
        <h2 class="text-center"> Please rate each issue </h2>
        <br><br>
        {% for issue in il %}
        <div>
            <label class="col-lg-4"> {{issue}}: </label>
            <input class="col-lg-8" 
                   name={{issue}}
                   data-slider-ticks="[0, 1, 2]" 
                   style=" width: 50%; !important;"
                   data-slider-ticks-labels='["Opposes", "Neutral/No oppinion", "Supports"]' 
                   data-provide="slider" 
                   {% if issue == "Abortion"%}
                    value={{issue.abortion}}
                   {% elif issue == "Women and Minorities" %}
                    value={{issue.womenAndMinorities}}
                   {% elif issue == "Same-Sex Marriage" %}                   
                   value={{issue.sameSexMarriage}}
                   {% elif issue == "Crime" %}
                   value={{issue.crime}}
                   {% elif issue == "Guns" %}
                   value={{issue.guns}}
                   {% elif issue == "Drugs" %}
                   value={{issue.drugs}}
                   {% elif issue == "Public" %}
                   value={{issue.publicFaith}}
                   {% elif issue == "Environment" %}
                   value={{issue.environment}}
                   {% elif issue == "Campaign Finance" %}
                   value={{issue.campaignFinance}}
                   {% elif issue == "Foreign Affairs" %}
                   value={{issue.foreignAffairs}}
                   {% elif issue == "America" %}
                    value={{issue.america}}
                     {% elif issue == "Obamacare" %}
                   value={{issue.obamacare}}
                   {% elif issue == "Schools" %}
                   value={{issue.schools}}
                   {% elif issue == "Energy" %}
                   value={{issue.energy}}
                   {% elif issue == "Immigration" %}
                   value={{issue.immigration}}
                   {% elif issue == "Taxes" %}
                   value={{issue.taxes}}
                   {% elif issue == "Stimulus" %}
                   value={{issue.stimulus}}
                   {% elif issue == "Social Security" %}
                   value={{issue.socialSecurity}}
                   {% elif issue == "Trade" %}
                   value={{issue.trade}}
                   {% elif issue == "Military" %}
                   value={{issue.military}}
                    {% endif %}
                   data-slider-value="1"
                   type="number"/>
        </div>    
            <br>
        {% endfor %}
    {% endif %}
        <br><br>
    {% if x == 1 %}
    <div class="pull-right">
    <br>
    <button type="submit" name="button" value="post" class="btn btn-default"> Save Ratings </button>
    </div>
    {% endif %}
    </div>
    </form>
</div> 
{% endblock %}