{% extends "base.html" %}
{% block body %}
{% include "snips/topNav.html" %}
<div class="container">
    <h1 class="text-center"><strong> Welcome to our app</strong></h1>
    <div> {% include "navBar.html" %}<br><br> </div>
    <form method="POST">
    {% if x != 1 %}
    <h3 class="text-center"> Please choose all issues that are of importance to you:</h3>
    <br>
    <select class="selectpicker form-control" title="-- Select all that is important to you --" multiple name="issueChoices">

        {% for issue in config['issuesList'] %}

            <option value="{{issue['explanation']}}"
            {% if x %}
                {% if issue['explanation'] in issuesSTR %}
                      selected
                {% endif %}
            {% endif %}
            >
                   <strong> {{issue['explanation']}}: </strong>
            </option>
        {% endfor %}
    </select>
    <div class="pull-right">
    <br>
    <button type="submit" name="button" value="save" class="btn btn-default"> Save Choices </button>
    </div>
    {% endif %}
    {% if x %}
    <div class="col-lg-12">
        <h2 class="text-center"> Please rate each issue </h2>
        <br><br>
        {% for iss in il %}
        <div>
            <label class="col-lg-4"> {{iss}}: </label>
            <input class="col-lg-8"
                   name="{{iss}}"
                   type="number"
                   data-slider-ticks="[0, 1, 2]"
                   style=" width: 50%; !important;"
                   data-slider-ticks-labels='["Opposes", "Neutral/No oppinion", "Supports"]'
                   data-provide="slider"
                   {% if "Abortion" in iss %}
                    data-slider-value="{{issue.abortion}}"
                   {% elif "Women" in iss %}
                    data-slider-value="{{issue.womenAndMinorities}}"
                   {% elif "Marriage" in iss %}
                   data-slider-value="{{issue.sameSexMarriage}}"
                   {% elif "Guns" in iss %}
                   data-slider-value="{{issue.guns}}"
                   {% else %}
                   data-slider-value="1"
                   {% endif %}/>
        </div>
            <br>
        {% endfor %}
    {% endif %}
        <br><br>
    {% if x == 1 %}
    <div class="pull-right">
    <br>
    <button type="submit" name="button" value="post" class="btn btn-default"> Save Ratings </button>
    </div>
    {% endif %}
    </div>
    </form>
</div>
{% endblock %}
