{% extends "base.html" %}
{% block body %}
{% include "snips/topNav.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<div> {% include "navBar.html" %}</div>
<div class="container">
  <ul class="collection with-header">
    <li class="collection-header"><h3>Upcoming Elections</h3></li>
    {% for election in elections %}
    <li class="collection-item avatar">
      <i class="material-icons circle">account_balance</i>
      <span class="title">{{election.name}}</span>
      <p>{{election.electionDay}}</p>
      <a href="/user/contests/{{election.id}}" class="secondary-content"><i class="material-icons"><i class="material-icons">keyboard_arrow_right</i></i></a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
