<div class="table-responsive col-xs-12">
    <table class="table" 
           id="electionTable">
    
    <thead class= "thead">
      <tr>
         {% for entry in config["table_entry"] %}
          <th style = "border: 1px 
                               solid 
                               black;
                       border-radius: 5px "> {{entry["header"]}} 
          </th>
        {% endfor %}
      </tr>
    </thead>
    
    <tbody>
        {% for election in elections %}
        <tr>
          <td style="width: 50%;
                     max-width: 300px;  
                     white-space: nowrap;
                     overflow: hidden;">
            <a href="/user/open/{{election.get('EID')}}/">{{election.get('name', "Unavailable")}}</a>
          </td>
          <td data-oder = "{{election.get('date','unknown')}}"> {{election.get('date', "To be determined")}} </td>
        </tr>
        {% endfor %}
    </tbody>
    
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function() { $('#electionTable').DataTable(); } );
</script>
