<div class="table-responsive col-xs-12">
    <table class="table" 
           id="electionsTable">
    
    <thead class= "thead">
      <tr>
         {% for entry in config["table_entry"] %}
          <th style = "border: 1px 
                               solid 
                               black;
                       border-radius: 5px "> {{entry["header"]}} 
          </th>
        {% endfor %}
      </tr>
    </thead>
    
    <tbody>
        <tr>
          <td style="width: 50%;
                     max-width: 300px;  
                     white-space: nowrap;
                     overflow: hidden;">
            <a href="/user/open/{{elections.EID}}/">{{elections.name}}</a>
          </td>
          <td data-oder = "{{elections.date}}"> {{elections.date.__format__("%m/%d/%Y %I:%M %p")}} </td>
        </tr>
    </tbody>
    
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function() { $('#activityTable').DataTable(); } );
</script>
